In [1]:
!pip install bs4
!pip install requests
import pandas as pd

Requirement already satisfied: bs4 in c:\users\probook 430 g3\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\probook 430 g3\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\probook 430 g3\anaconda3\lib\site-packages (from requests) (1.26.11)

# Import requires Libraries

In [2]:
# importing the required libraries
from bs4 import BeautifulSoup
import requests

# Write a python program to display IMDB’s Top rated 100 Indian movies’ data

# send get request to the webpage server to get the source code of the page

In [3]:
page = requests.get('https://www.imdb.com/list/ls056092300')

In [4]:
# dispaly response
page

In [5]:
# parsing the content of Html using BeautifulSoup
soup = BeautifulSoup(page.content,'html.parser')
# dispaly content
# soup

In [6]:
# finding the movies
movies = soup.find_all('div',class_='lister-item-content')

In [7]:
# creating and empty list
data = []
for movie in movies:
    text = movie.text.strip()
    name = movie.find('a').text.strip()
    rating = movie.find('span',class_='ipl-rating-star__rating').text.strip()
    year = movie.find('span',class_='lister-item-year').text.strip()
    data.append({'Name':name,'Rating':rating,'Year':year})

In [8]:
# create DataFrame from extraced Movie
df = pd.DataFrame(data, columns=["Name","Rating","Year"])

print(df)

                                 Name Rating    Year
0                     Ship of Theseus      8  (2012)
1                              Iruvar    8.4  (1997)
2                     Kaagaz Ke Phool    7.8  (1959)
3   Lagaan: Once Upon a Time in India    8.1  (2001)
4                     Pather Panchali    8.2  (1955)
..                                ...    ...     ...
95                   The World of Apu    8.4  (1959)
96                        Kanchivaram    8.2  (2008)
97                    Monsoon Wedding    7.3  (2001)
98                              Black    8.1  (2005)
99                            Deewaar      8  (1975)

[100 rows x 3 columns]

# 2) Write a python program to scrape product name, price and discounts from

# send get request to the webpage server to get the source code of the page

In [2]:
# importing the required libraries
from bs4 import BeautifulSoup
import requests

In [3]:
page = requests.get('https://peachmode.com/search?q=bags ')

In [4]:
# dispaly response
page

In [16]:
# parsing the content of Html using BeautifulSoup
soup = BeautifulSoup(page.content,'html.parser')
# dispaly content
# soup

In [22]:
# Defining the product data

products = soup.find_all('div',class_='st-col-xs-12 st-col-md-7')

In [70]:
# creating am empty list
data = []
for product in products:
    text = product.text.strip()
    name = product.find('a',class_='product-name').text.strip()
    price = product.find('span',class_='price').text.strip()
    discount_tag = product.find('div',class_='discounted-price')
    discount = discount_tag.find('span').text.strip() 
    data.append({'Name':name,'Price':price,'Discount':discount})

AttributeError: 'NoneType' object has no attribute 'text'

In [26]:
# create DataFrame from extracted product
df = pd.DataFrame(data, columns=["Name","Price","Discount_tag"])
                  
print(df)

Empty DataFrame
Columns: [Name, Price, Discount_tag]
Index: []

# Write a python program to scrape cricket rankings from icc-cricket.com

In [10]:
# importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# You have to scrape: 
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [89]:
# sending a GET request to the  url 

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
response = requests.get(url)
 
# see content in page5

In [28]:
# display response
page

In [90]:
# parsing the content of Html using BeautifulSoup
soup = BeautifulSoup(response.content,'html.parser')

In [91]:
# display content
#soup

In [92]:
# scrap team names
team = soup.find_all("span",class_='u-hide-phablet')

In [93]:
# create an empty list 
team_name = []
for i in team:
 team_name.append(i.text)

In [94]:
# creat empty list
matches = [] 
points = []
ratings = []
new_list = []

In [95]:
for i in soup.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    matches.append(i.text)
for  i in soup.find_all("td",class_='ranking-block__banner--points'): # first place eam points
        points.append(i.text)
for i in soup.find_all("td",class_='ranking-block__banner--rating-u-text-right'): #first place team ratings
    ratings.append(i.text.replace("\n",""))
for i in soup.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in soup.find_all("td",class_='table-body__cell u-text-right rating'):# other teams ratings
    ratings.append(i.text)

In [96]:
# make DataFrame for top 10 icc teams
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

Empty DataFrame
Columns: [Team_name, Matches, Points, Ratings]
Index: []

In [97]:
print(icc)

Empty DataFrame
Columns: [Team_name, Matches, Points, Ratings]
Index: []

# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [98]:
#import the required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [99]:
#Sending a GET request to the URL
response = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")

#display response
response

In [119]:
#Parsing the content of HTML using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

#Display content
#soup

In [120]:
#Create empty list for players, teams, rating
bat_players = []
teams = []
ratings = []

In [121]:
# Find all the top ten batting players
table = soup.find("table",class_="table")
rows = table.find_all('tr')

AttributeError: 'NoneType' object has no attribute 'find_all'

In [122]:
#Get the top 10 players
for row in rows[1:11]:
    columns = row.find_all("td")


#Specifying the columns where the data for each variable can be found 
player_name = columns[1].text.strip()
team = columns[2].text.strip()
rating = column[3].text.strip()


# Adding players name, team and rating to the list
bat_players.append(player_name)
teams.append(team)
ratings.append(rating)

NameError: name 'rows' is not defined

In [123]:
# creating dictionary from extracted data
data ={"Player":bat_players,"Team":teams,"Rating":ratings}

In [124]:
# creat DataFrame from the dictionary
df = pd.DataFrame(data)


# display result
print(df)

Empty DataFrame
Columns: [Player, Team, Rating]
Index: []

# c) Top 10 ODI bowlers along with the records of their team and rating.

In [102]:
# import required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# send get request to the url
response = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

# display response
response

In [103]:
# Parsing the content of HTML using BeautifulSoup
soup = BeautifulSoup(response.text,"html.parser")

#display soup
#soup

In [108]:
# creat empty list for players, teams and rating
bowl_players = []
teams = []
rating = []

# find all the ten top bowling players
table = soup.find("table",class_="table")
rows = table.find_all("tr")

AttributeError: 'NoneType' object has no attribute 'find_all'

In [109]:
#Get 10 top players
for row in rows[1:11]:
    columns = row.find_all("td")
    
# Specifying the columns where the data for each variable can be found 
player_name = columns[1].text.strip()
team = columns[2].text.strip()
rating = columns[3].text.strip()

NameError: name 'rows' is not defined

In [110]:
#Adding players name, team and ratings to the list
bowl_players.append(player_name)
teams.append(team)
ratings.append(rating)

NameError: name 'player_name' is not defined

In [111]:
# creating dictionary from extracted data
data = {"Player":bowl_players,"Team":teams,"Rating":ratings}

# create DataFrame
df = pd.DataFrame(data)

# display the result
print(df)

Empty DataFrame
Columns: [Player, Team, Rating]
Index: []

# 4) Write a python program to scrape details of all the posts from
https://www.patreon.com/coreyms .Scrape the 
heading, date, content and the likes for the video from the link for the youtube video from the post.

In [113]:
# Import all required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [115]:
# send request  web page server  to get source of code page
response = requests.get("https://www.patreon.com/coreyms")

In [116]:
# display response
response

In [125]:
#Parsing the content of HTML using BeautifulSoup
soup = BeautifulSoup(response.content,"html.parser")

#display content
# soup

In [188]:
# Find all the post
posts = soup.find_all('div', class_='post')

In [189]:
# CREATE AN EMPTY LIST
data = []
        for post in posts:
            heading = post.find('h4').text.strip()
            date = post.find('time')['datetime']
            content = post.find('div', class_='post__excerpt').text.strip()
            youtube_link = post.find('a', class_='post__thumbnail')['href']
            likes = post.find('div', class_='post__footer').find('button').text.strip()

            data.append({'Heading': heading, 'Date': date, 'Content': content, 'YouTube Link': youtube_link, 'Likes': likes})

IndentationError: unexpected indent (3043415229.py, line 3)

In [190]:
# create DataFrame from extracted header
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: []
Index: []

# 5 Write a python program to scrape house details from mentioned URL. It should include house title, location, 
area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, 
Rajaji Nagar.

In [144]:
# import required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

# send get request to the url
response = requests.get("https://www.nobroker.in")

In [147]:
# send get request to the url
response = requests.get("https://www.nobroker.in")

In [148]:
# display response 
response

In [149]:
#Parsing the content of HTML using BeautifulSoup
soup = BeautifulSoup(response.content,"html.parser")

#display content
# soup

In [150]:
# finding the house details
houses = soup.find_all('div', class_='nb__2JHKO')

In [153]:
# create an empty list 
data = []
        for house in houses:
            title = house.find('h2', class_='heading-6').text.strip()
            location = house.find('div', class_='nb__35Ol7').text.strip()
            area = house.find('div', class_='nb__3oNyC').text.strip()
            emi = house.find('div', class_='font-semi-bold').text.strip()
            price = house.find('div', class_='heading-7').text.strip()

            data.append({'Title': title, 'Location': location, 'Area': area, 'EMI': emi, 'Price': price})

IndentationError: unexpected indent (3575440135.py, line 3)

In [155]:
# creating a dictionary from the extracted data 
data = {
    "Title":title,
    "Location":location,
    "Area":area,
    "Emi":emi,
    "Price":price
}

# creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# display result
print(df)

NameError: name 'title' is not defined

# 6) Write a python program to scrape first 10 product details which include product name , price , Image URL from 
https://www.bewakoof.com/bestseller?sort=popular

In [156]:
# import required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [161]:
# send get request to the url
url = "https://www.bewakoof.com/bestseller?sort=popular"
response = requests.get(url)

In [162]:
# display  response 
response

In [163]:
soup = BeautifulSoup(response.content, 'html.parser')

In [164]:
products = soup.find_all('div', class_='productCard')

In [165]:
# create an empty list
data = []
for product in products[:10]:
            name = product.find('h3', class_='name').text.strip()
            price = product.find('div', class_='productCard_Price').text.strip()
            image_url = product.find('img')['src']

            data.append({'Name': name, 'Price': price, 'Image URL': image_url})

In [167]:
# create 
# create DataFrame from extracted header
df = pd.DataFrame(data, columns=["Name","Price""Image URL"])

print(df)

Empty DataFrame
Columns: [Name, PriceImage URL]
Index: []

# 7) Please visit https://www.cnbc.com/world/?region=world and scrap- 
a) headings 
b) date 
c) News link

In [168]:
#import the required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [169]:
#Send a GET request to the URL
response = requests.get("https://www.cnbc.com/world/?region=world")

#display response
response

In [170]:
#Parsing the content of HTML using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

#display content
#soup

In [171]:
#Create empty list for headlines, times, news link
headlines = []
times = []
news_links = []

#Finding all the news articles on the web page
news_articles = soup.find_all("div", class_="LatestNews-container")

In [172]:
#Looping through each news and extract the relevant data
for article in news_articles:
    #Extracting headlines
    headline = article.find("a", class_="LatestNews-headline").text.strip()
    headlines.append(headline)

    #Extracting time
    time = article.find("time").text.strip()
    times.append(time)

    #Extracting the link of the news
    news_link = article.find("a", class_="LatestNews-headline")["href"]
    news_links.append(news_link)

In [173]:
#Creating a dictionary from the extracted data
data = {
    "Headline": headlines,
    "Time": times,
    "News Link": news_links
}
#Create dataframe
df = pd.DataFrame(data)

#Display the result
print(df)

                                             Headline            Time  \
0   Baltimore engineers begin clearing bridge wrec...     2 Hours Ago
1   Psychologist: 'High-functioning' uses success ...     7 Hours Ago
2   Fitness influencers swear by the 'carnivore di...     7 Hours Ago
3   AT&T is investigating a leak that put millions...     7 Hours Ago
4   Bitcoin could soar to $150,000 this year, hedg...     8 Hours Ago
5   America's 'deskless' hourly wage workers will ...     8 Hours Ago
6   How 26-year-old balances public office, workin...     9 Hours Ago
7   Here are the 3 key things we're most focused o...     9 Hours Ago
8   Pet insurance didn't feel worth it—until my ca...     9 Hours Ago
9   How this mission-driven chocolate company make...     9 Hours Ago
10  Nvidia CEO: Smart people struggle with these 2...     9 Hours Ago
11  Generative AI 'FOMO' is driving tech heavyweig...    10 Hours Ago
12  Decluttering tips from professional organizers...    10 Hours Ago
13  As new vehicles become more like computers, wh...    10 Hours Ago
14  How Maersk grew its shipping empire and how it...    10 Hours Ago
15  Buy these 5 stocks with upside potential as Ap...    11 Hours Ago
16  Crypto investors are bracing for a busy second...    11 Hours Ago
17  Watch out for these cyclical stocks, Morgan St...    11 Hours Ago
18  'Too few college-educated men': A look at why ...    11 Hours Ago
19  Monthly Meeting Q&A with Cramer: From energy t...  March 29, 2024
20  Trump's campaign trail promos for sneakers, bi...  March 29, 2024
21  New report: The 10 richest retirement towns in...  March 29, 2024
22  Just 1% of construction CEOs are women—how thi...  March 29, 2024
23  Microsoft, Salesforce woo skeptical CFOs on ne...  March 29, 2024
24  These were our 4 best — and 4 worst — portfoli...  March 29, 2024
25  How a 36-year-old with 'little experience' bui...  March 29, 2024
26  10 in-demand remote jobs paying over $100,000 ...  March 29, 2024
27  How to answer the updated crypto question when...  March 29, 2024
28  2 simple ways to get people to listen when you...  March 29, 2024
29  Key Fed inflation gauge rose 2.8% annually in ...  March 29, 2024

                                            News Link
0   https://www.cnbc.com/2024/03/30/baltimore-engi...
1   https://www.cnbc.com/2024/03/30/why-youre-seei...
2   https://www.cnbc.com/2024/03/30/fitness-influe...
3   https://www.cnbc.com/2024/03/30/att-investigat...
4   https://www.cnbc.com/2024/03/30/hedge-fund-man...
5   https://www.cnbc.com/2024/03/30/why-hourly-wag...
6   https://www.cnbc.com/2024/03/30/meet-bushra-am...
7   https://www.cnbc.com/2024/03/30/the-3-things-w...
8   https://www.cnbc.com/2024/03/30/is-pet-insuran...
9   https://www.cnbc.com/2024/03/30/how-this-missi...
10  https://www.cnbc.com/2024/03/30/nvidia-ceo-the...
11  https://www.cnbc.com/2024/03/30/fomo-drives-te...
12  https://www.cnbc.com/2024/03/30/decluttering-t...
13  https://www.cnbc.com/2024/03/30/as-new-vehicle...
14  https://www.cnbc.com/2024/03/30/how-maersk-gre...
15  https://www.cnbc.com/2024/03/30/goldman-sachs-...
16  https://www.cnbc.com/2024/03/30/crypto-investo...
17  https://www.cnbc.com/2024/03/30/these-stocks-c...
18  https://www.cnbc.com/2024/03/30/a-look-at-why-...
19  https://www.cnbc.com/2024/03/29/monthly-meetin...
20  https://www.cnbc.com/2024/03/29/trump-sellig-b...
21  https://www.cnbc.com/2024/03/29/richest-retire...
22  https://www.cnbc.com/2024/03/29/women-make-up-...
23  https://www.cnbc.com/2024/03/29/microsoft-sale...
24  https://www.cnbc.com/2024/03/29/these-were-our...
25  https://www.cnbc.com/2024/03/29/ltk-founder-am...
26  https://www.cnbc.com/2024/03/29/the-most-in-de...
27  https://www.cnbc.com/2024/03/29/how-to-answer-...
28  https://www.cnbc.com/2024/03/29/simple-ways-to...
29  https://www.cnbc.com/2024/03/29/pce-inflation-...

# 8)       Please visit https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-     
articles/ and scrap- 
a) Paper title 
b) date 
c) Author

In [174]:
#import the required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [176]:
#Send a GET request to the URL
response = requests.get("https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles")

#display response
response

In [177]:
#Parsing the content of HTML using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

#display content
#soup

In [180]:
#Finding all news articles on the web page
article_items = soup.find_all('div', class_='journal_detail_article')

# article_items

In [179]:
#Creating empty Lists to store extracted data
paper_titles = []
authors_list = []
dates = []

In [182]:
#Iterating through the article content to extract article details
for item in article_items:
    # Extracting title of the article
    title = item.find('h3').get_text(strip=True)
    paper_titles.append(title)
    
    # Extracting the authors
    authors = item.find('p', class_='article-authors').get_text(strip=True)
    authors_list.append(authors)
    
    # Extracting the p date
    date = item.find("span", class_='text-muted').get_text(strip=True)
    dates.append(date)

In [185]:
#Creating a dictionary from the extracted data
data = {
    "Paper Title": paper_titles,
    "Authors": authors_list,
    "Date": dates,
}
# Creating a DataFrame from the dictionar
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

Empty DataFrame
Columns: [Paper Title, Authors, Date]
Index: []